.subButton {
  background-color: #599bb3; /* light blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#map {
  height: 500px;
}

.result{
  font-size: 20px;
}
