<!doctype html>

<html>

  <head>
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/weather_team.css")}}">
    <!-- if we add Bootstrap in, add to same folder <link rel="stylesheet" href="{{url_for("static", filename="css/bootstrap.css")}}> -->
  </head>

  <body>
    <p>Thanks, please check your email! This is a new HTML page</p>

    <!-- {% if name %}
      <p>Hello{{name}}!</p>
    {% else %}
      <p>Hello anonymous person!</p>
    {% endif %} -->

    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
  </body>

</html>
