<!doctype html>

<html>

  <head>
    <title>Weather Team</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="../static/css/weather_team.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="../static/css/bootstrap.css")}}">
    <meta name="viewport" content="width-device-width, initial-scale=1" />

    <script src="../static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.js" type="text/javascript"></script>
    <!-- Map scripts -->
    <link href="../static/jsmaps/jsmaps.css" rel="stylesheet" type="text/css" />
    <script src="../static/jsmaps/jsmaps-libs.js" type="text/javascript"></script>
    <script src="../static/jsmaps/jsmaps.min.js" type="text/javascript"></script>
    <script src="../static/maps/LondonBoroughs.js" type="text/javascript"></script>
    <!-- End Map scripts -->


  </head>

  <body>

    <div class="jumbotron text-center">
      <!-- <div class="col-md-1">
         <img src='img/collaborate.jpg' class='img-circle'>-->
        <h1> Events</h1>
        <h3> London </h3>
    </div>

      <!-- Start of main page container -->
<div class="container" id="mapAndtext">
      <div class="row">
        <div class="col-sm-9">
          <!-- Map html -->
          <div class="jsmaps-wrapper" id="LondonBoroughs-map">
          </div>
          <!-- End Map html -->
        </div>

        <div class="col-sm-3">
          <div class="weather">

            {% if weather %}
              <p>Weather: {{weather}}!</p>
            {% else %}
              <p>Not sure about the weather right now.</p>
            {% endif %}

            {% if weather == "Clear" %}
              <img src = "../static/images/clear_sky.png" class = img-responsive>
            {% elif weather == "Clouds" %}
              <img src = "../static/images/clouds.png" class = img-responsive>
            {% elif weather == "Haze" %}
              <img src = "../static/images/haze.jpg" class = img-responsive>
            {% elif weather == "Drizzle" %}
              <img src = "../static/images/rain.png" class = img-responsive>
            {% elif weather == "Rain" %}
              <img src = "../static/images/rain.png" class = img-responsive>
            {% elif weather == "Mist" %}
              <img src = "../static/images/mist.png" class = img-responsive>
            {% elif weather == "Fog" %}
              <img src = "../static/images/haze.jpg" class = img-responsive>
            {% elif weather == "Snow" %}
              <img src = "../static/images/snow.png" width="100" height="100">
            {% elif weather == "Thunderstorm" %}
              <img src = "../static/images/thunderstorm.png" width="100" height="100">
            {% else %}
                <p>Sorry, don't have a weather image right now.</p>
            {% endif %}

            {% if temp %}
              <p>The temperature in London is {{temp}}C.</p>
            {% else %}
              <p>None.</p>
            {% endif %}

            The latest tweet about London: {{twitter}}!

        </div>
      </div>

<!--</div>
      <button type="button" class="btn btn-success btn-md" id="moreinfo">Borough Information   <span class="glyphicon glyphicon-hand-right"></span></button></a>
    </div> -->

        <script type="text/javascript">

          $(function() {

            $('#LondonBoroughs-map').JSMaps({
              map: 'LondonBoroughs'
            });
         });

        </script>



        <!-- Subscribe link to the subscribe form-->
        <a href="{{ url_for('subscribe') }}" class="subButton">SUBSCRIBE</a>







<!-- old subscribe form
        <p>Subscribe</p>
           <div id="contact-form">
             <form method="post" action="/signup">
               <label for="name">Name:</label>
               <input type="text" id="name" name="name" required="required">
               <br><br>
               <label for="surname">Surname:</label>
               <input type="text" id="surname" name="surname" required="required">
               <br><br>
               <label for="birthday">Birthday:</label>
               <input type="birthday" id="birthday" name="birthday" required="required">
               <br><br>
               <label for="profession">Profession:</label>
               <input type="profession" id="profession" name="profession" required="required">
               <br><br>
               <label for="email">Email address:</label>
               <input type="email" id="email" name="email" required="required">
               <br><br>
               <input type="submit" value="Submit" id="submit-button">
             </form>
           </div>
         -->

   </body>
</html>
