<!doctype html>

<html>

  <head>
    <title>Weather Team</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="../static/css/weather_team.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="../static/css/bootstrap.css")}}">
    <!-- if we add Bootstrap in, add to same folder -->

    <script src="../static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.js" type="text/javascript"></script>
    <!-- Map scripts -->
    <link href="../static/jsmaps/jsmaps.css" rel="stylesheet" type="text/css" />
    <script src="../static/jsmaps/jsmaps-libs.js" type="text/javascript"></script>
    <script src="../static/jsmaps/jsmaps.min.js" type="text/javascript"></script>
    <script src="../static/maps/LondonBoroughs.js" type="text/javascript"></script>
    <!-- End Map scripts -->


  </head>

  <body>

    <div class="container-fluid" id="header">
      <!-- <div class="col-md-1">
         <img src='img/collaborate.jpg' class='img-circle'>-->
        <h1> Events</h1>
        <h3> London </h3>
    </div>

      <!-- Start of main page container -->
            <div class="container" id="mapAndtext">
              <div class="row">
        <div class="col-sm-10">
          <!-- Map html -->
          <div class="jsmaps-wrapper" id="LondonBoroughs-map"></div>
          <!-- End Map html -->
          </div>

          <div class="col-sm-2">
            <div class="weather">

                  {% if weather %}
                    <p>The weather in London is {{weather}}!</p>
                  {% else %}
                    <p>Not sure about the weather right now.</p>
                  {% endif %}

                  {% if weather == "Clearsky" %}
                    <img src = "../static/images/clear_sky.png" width="100" height="100">
                  {% elif weather == "Clouds" %}
                    <img src = "../static/images/clouds.png" width="100" height="100">
                  {% elif weather == "Mist" %}
                    <img src = "../static/images/mist.png" width="100" height="100">
                  {% elif weather == "Rain" %}
                    <img src = "../static/images/rain.png" width="100" height="100">
                  {% elif weather == "Snow" %}
                    <img src = "../static/images/snow.png" width="100" height="100">
                  {% elif weather == "Storm" %}
                    <img src = "../static/images/storm.png" width="100" height="100">
                  {% elif weather == "Thunderstorm" %}
                    <img src = "../static/images/thunderstorm.png" width="100" height="100">


                  {% else %}
                      <p>Sorry, don't have a weather image right now.</p>
                  {% endif %}

                  {% if temp %}
                    <p>The temperature in London is {{temp}}.</p>
                  {% else %}
                    <p>None.</p>
                  {% endif %}

              </div>
            </div>

<!--</div>
      <button type="button" class="btn btn-success btn-md" id="moreinfo">Borough Information   <span class="glyphicon glyphicon-hand-right"></span></button></a>
    </div> -->

        <script type="text/javascript">

          $(function() {

            $('#LondonBoroughs-map').JSMaps({
              map: 'LondonBoroughs'
            });
         });

        </script>



        <!-- Subscribe link to the subscribe form-->
        <a href="{{ url_for('subscribe') }}" class="subButton">SUBSCRIBE</a>







<!-- old subscribe form
        <p>Subscribe</p>
           <div id="contact-form">
             <form method="post" action="/signup">
               <label for="name">Name:</label>
               <input type="text" id="name" name="name" required="required">
               <br><br>
               <label for="surname">Surname:</label>
               <input type="text" id="surname" name="surname" required="required">
               <br><br>
               <label for="birthday">Birthday:</label>
               <input type="birthday" id="birthday" name="birthday" required="required">
               <br><br>
               <label for="profession">Profession:</label>
               <input type="profession" id="profession" name="profession" required="required">
               <br><br>
               <label for="email">Email address:</label>
               <input type="email" id="email" name="email" required="required">
               <br><br>
               <input type="submit" value="Submit" id="submit-button">
             </form>
           </div>
         -->

   </body>
   </html>

  </body>
